{% extends 'base.html' %} {% load static %} {% block content %}

<section class="section-padding section-bg" id="section_2">
    <div class="container">
        <div class="row">

           

            <div class="col-lg-12 col-12">
              
                
                <div class="row">

                   
                    <div class="col-lg-12 col-md-6 col-12">
                        <div class="custom-text-box mb-lg-0 text-center">
                            <h5 class="mb-3 text-center">Meet Our Team</h5>

                            <p class="text-center">At <strong>Kirimara Coffee Estate</strong> , our greatest strength lies in our people. From seasoned agronomists to dedicated harvesters and passionate tour guides, every member of our team plays a vital role in bringing quality coffee and authentic experiences to life.

                                Rooted in the local community, our team blends generations of farming knowledge with modern, sustainable practices. 
                                We invest in continuous training and fair employment to ensure our staff grow with us — personally and professionally.
                                
                                Together, we are not just cultivating coffee — we’re cultivating pride, purpose, and progress for the entire Kirimara community.
                                
                               <p><strong>Meet the hands behind every harvest and the smiles behind every story</strong></p> .</p>

                            
              
                        </div>
                    </div>
            
                </div>



                
            </div>

        </div>
    </div>
</section>


<section class="about-section section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-5 col-12">
                <br><br><br>    <br>  
                <img src="/static/images/helicopter.jpg" class="about-image ms-lg-auto bg-light shadow-lg img-fluid" alt="Ian Mimano">
                <br>
                <ul class="social-icon mt-4 text-center">
                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link bi-twitter"></a>
                    </li>

                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link bi-facebook"></a>
                    </li>

                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link bi-instagram"></a>
                    </li>
                </ul>
            </div>
            

            <div class="col-lg-8 col-md-7 col-12">
                <div class="custom-text-block">
                    <h2 class="mb-0">Ian Mimano</h2>

                    <p class="text-muted mb-lg-4 mb-md-4">CEO & Pilot</p>

                    <p>As the visionary behind Kirimara Coffee Farm, Ian Mimano brings a unique blend of leadership, innovation, and adventure. With a background in aviation and a passion for sustainable agriculture, He has redefined what it means to grow coffee in Kenya. His experience as a licensed pilot has not only shaped his global perspective but also enabled him to connect Kirimara with markets and partners beyond borders.</p>

                    <p>Under his leadership, Kirimara has expanded from a local farm into a model of eco-conscious coffee production, community empowerment, and agro-tourism excellence. His commitment to ethical practices, environmental stewardship, and uplifting local livelihoods drives every initiative on the farm.

                        Whether he’s navigating the skies or the slopes of Mount Kenya, He leads with purpose, vision, and a genuine love for the land and people he serves.</p>

             
                </div>
            </div>

        </div>
    
    </div>


    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-5 col-12">
                <br><br><br>    <br>  
                <img src="/static/images/kirimara pics/nursery.jpeg" class="about-image ms-lg-auto bg-light shadow-lg img-fluid align-items-center" alt="sonia kirimara">
                <br>
                <ul class="social-icon mt-4 text-center">
                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link bi-twitter"></a>
                    </li>

                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link bi-facebook"></a>
                    </li>

                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link bi-instagram"></a>
                    </li>
                </ul>
            </div>
            

            <div class="col-lg-8 col-md-7 col-12">
                <div class="custom-text-block">
                    <h2 class="mb-0">Madam Sonia </h2>

                    <p class="text-muted mb-lg-4 mb-md-4">Managing Director</p>
                    <p>At the helm of operations at Kirimara Coffee Estate, Madam Sonia brings a wealth of experience in agricultural management, community development, and strategic leadership. As Managing Director, she is the driving force behind the farm’s day-to-day excellence and long-term vision.

                        With a strong background in agribusiness and rural empowerment, Madam Sonia has played a pivotal role in building sustainable farming systems, expanding training programs, and enhancing the farm’s impact on local livelihoods. Her leadership style blends compassion with discipline — fostering a work culture rooted in respect, integrity, and shared purpose.</p>

                    <p>Deeply connected to the land and the people, Sonia ensures that every bean harvested reflects the care, quality, and values that Kirimara Coffee Estate stands for.

                       </p>
                       <p><strong> She’s not just managing a farm — she’s nurturing a legacy.</strong></p>
             
                </div>
            </div>

        </div>
    
    </div>
 



</div>
</section>

<section class="section-padding section-bg" id="section_2">
    <div class="container">
        <div class="row">

           

            <div class="col-lg-12 col-12">
              
                
                <div class="row">

                   
                    <div class="col-lg-12 col-md-6 col-12">
                        <div class="custom-text-box mb-lg-0 text-center">
                            <h5 class="mb-3 text-center"> Our Dedicated Staff</h5>

                            <p class="text-center">At <strong>Kirimara Coffee Estate</strong>, our subordinate staff plays an integral role in our success. From the meticulous care of our coffee plants to the smooth operation of daily farm activities, each member of our team is committed to delivering the highest quality coffee and exceptional visitor experiences.
                               <p>Our staff embodies the values of hard work, respect, and collaboration. They bring expertise, passion, and a deep connection to the land. Whether it’s tending to the coffee trees, managing the farm’s organic manure production, or guiding visitors through our eco-tourism experiences, they ensure that every detail is handled with care and dedication.</p> .</p>

                            
              
                        </div>

                     
                    </div>

                 
            
                </div>
       


               
            </div>
     
        
        

        </div>
        <br>
        <div class="custom-block-wrap">
            <div class="row">

                <div class="col-lg-4 col-md-4 col-12">
                    <img src="/static/images/kirimara pics/kirimarawakers2.jpeg" class="about-image ms-lg-auto bg-light shadow-lg img-fluid" alt="kirimara staff">
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <img src="/static/images/kirimara pics/kirimarworker1.jpeg" class="about-image ms-lg-auto bg-light shadow-lg img-fluid" alt="kirimara staff">
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <img src="/static/images/kirimara pics/kirimaraworkers3.jpeg" class="about-image ms-lg-auto bg-light shadow-lg img-fluid" alt="kirimara staff">
                </div>
            </div>

        
        </div>
    </div>

 
</section>

 {% endblock %}