{% extends 'base.html' %} {% load static %} {% block content %}

<section class="section-padding" id="section_3">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center mb-4">
                <h2>KIRIMARA ESTATE GALLERY</h2>
            </div>


            <div class="row">
           
                {% for image in images %}
                
                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                    <div class="custom-block-wrap">
                        <a href="" class="custom-block-image img-fluid">                  
                            <img src="{{ image.image.url }}" class="custom-block-image img-fluid equal-size" alt="{{ image.image.url }}">
                        </a>
    
                     
                           
                        </div>

                  
                            <button class="form-control btn btn-dark btn-sm rounded-pill" width="50px">{{image.created_at}}</button>


                     

                    </div>
                    

                {% endfor %}
                <br><br>
             
            </div>
           


  


    </div>
    


</section>

 {% endblock %}